* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    background-color: #eee;
    color: #4e4544;
    font: normal 16px sans-serif;
}


.container{
    max-width: 900px;
    background-color: #fff;
    margin: 0 auto;
    padding: 0 60px;
    display: grid;
    grid-template-columns: 5fr 1fr;
    grid-template-areas:
        "header header"
        "button button"
        "main sidebar"
        "footer footer";



}


header{
    grid-area: header;
    color: #ef5350;
    padding: 20px 0;


}

header nav {
    justify-self: start;
    list-style: none;
    display: inline-block;

}


header nav li {
    margin-right: 15px;
    display: inline-block;
}


/*No me acordaba de como volver a poner es su orden correcto el boton de pagar
y le puse float:right, pero como al ponerlo a la derecha se me ponia debajo de la
linea del menu, le puse al header nav li un display:inline-block, para que solo ocupase,
lo que ocupan las letras del nav*/

header button {
    justify-self: end;
    background-color: #ef5350;
    border: none;
    padding: 8px 25px;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
    grid-area:button;
    float:right;
}


.main {

    grid-area: main;
    text-align: center;
}

.main h2 {
    font-size: 32px;
    margin-bottom: 55px;
}

.main p {
    margin-bottom: 50px;
}

.main img {
    /* width: 100%; */
}



.sidebar {
    border: 1px solid #a2a2a2;
    padding: 20px;
    grid-area: sidebar;
}


footer {
    color: #ef5350;
    text-align: center;
    padding: 20px 0;
    grid-area:footer;
}

footer p {
    color: #777;
    font-size: 12px;
    padding: 10px;
}


@media  (min-width: 600px) and (max-width: 768px){
  .container{
      background-color: lightgreen;
      grid-template-columns: 1fr;
      grid-template-areas:
          "header"
          "button"
          "main"
          "sidebar"
          "footer";
  }
}

@media (min-width: 1px) and (max-width: 600px){
  .container{
      background-color: lightblue;
      grid-template-columns: 1fr;
      grid-template-areas:
          "header"
          "button"
          "main"
          "sidebar"
          "footer";
  }
}
